// Can not use ember-paper until there is a solution for
// https://github.com/miguelcobain/ember-paper/issues/224
// @import 'ember-paper';
@import 'globals/_variables';
@import 'globals/_mixins';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
  overflow-x: hidden;

  @include on-tablet-min {
    padding: 1.5em;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul .repo {
  float: left;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  background: #FFF;
  overflow: hidden;

  .inner {
    position: relative;
    padding: 0.75em;
    margin: 0.5em;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  }

  &:hover .inner {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgba(247,247,247,1) 100%);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  }

  .icons {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .icon {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0;
  }

  p, img {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }

  p {
    font-size: 0.8em;
    max-width: 230px;
    overflow: hidden;
  }

  img { max-width: 60px }

  @include on-tablet-min {
    min-width: 50%;
  }

  @include on-desktop {
    min-width: 33.3%;
  }
}

a {
  color: inherit;
}

a.active {
  text-decoration: none;
  color: #555;
  cursor: text;
}

input {
  padding: 10px;
  width: 100%;
}
