<div class="home">
  <img src="/assets/images/rubyissues_logo.png" alt="RubyIssues" class="logo">

  <h1>RubyIssue(s)</h1>

  {{#link-to "repositories.new"}}Add a GitHub repository{{/link-to}}

  <p>
    Issue(s) are send out bi-monthly. No spam.<br>
    We will never sell or rent your personal information to third parties.
  </p>

  <p>
    <a href="http://twitter.com/spacetraveler_">@spacetraveler_</a>
  </p>

  <h6>Powered by <a href="http://www.odin.com">Odin</a> and <a href="http://www.magiclabs.de">magic labs</a></h6>

</div>
