<h5><a href="http://twitter.com/spacetraveler_">@spacetraveler_</a></h5>
<h2>A guided tour of significant, compelling, bizarre, tricky and all together worthwhile issues within open source Ruby projects.</h2>
<h4>Issue(s) are send out bi-monthly. No spam.</h4>
<h4>We will never sell or rent your personal information to third parties.</h4>
<h6>Powered by <a href="http://www.odin.com">Odin</a> and <a href="http://www.magiclabs.de">magic labs</a></h6>

{{#link-to "repositories"}}All registered repositories{{/link-to}}

{{outlet}}
